/* Variables */
/* Resets/Globals */
html, body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #333;
  background-color: #f4ece6; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: #000;
  text-decoration: underline; }

.anchor-offset {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

/* Specifics */
.h1 {
  float: right;
  font-size: 0; }
  .h1 img {
    max-width: 140px;
    padding: 5px 10px; }

h2 {
  text-align: center;
  font-family: "Allura", cursive;
  font-size: 2em;
  color: #4dc3c7; }

h3 {
  padding-top: 10px; }

main {
  padding: 60px 20px 20px 20px; }

header {
  position: fixed;
  width: 100%;
  background-color: #f4ece6;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }

nav .toggle-nav img {
  max-width: 42px;
  padding: 10px 7px; }

nav #nav {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  margin-left: -1500px;
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 52px; }
  nav #nav li a {
    text-decoration: none;
    padding: 10px;
    border-top: 1px solid #eee;
    width: 100%;
    display: block; }

nav .show-nav {
  margin-left: 0 !important;
  transition: 0.5s ease-in-out; }

#clockdiv {
  text-align: center;
  margin-top: 20px; }
  #clockdiv .main-text {
    font-family: "Allura", cursive;
    font-size: 2em;
    color: #f15a65;
    line-height: 1em;
    margin: 0;
    padding: 0; }
    #clockdiv .main-text span {
      font-size: 3em; }
  #clockdiv .subtext {
    font-size: 1.2em;
    line-height: 1em; }

.wrapper {
  padding: 20px 0;
  border-top: 1px dashed #f15a65; }
  .wrapper:first-of-type {
    border-top: 0; }
  .wrapper img {
    padding: 20px 0; }
  .wrapper ul {
    margin-left: 20px;
    padding: 10px 0; }

.intro {
  text-align: center; }
  .intro img {
    border-radius: 20px;
    margin: 10px auto !important;
    padding: 0; }

/* Grid-ish Things */
.half {
  overflow: hidden; }
  .half img {
    display: block;
    margin: 0 auto; }

.rsvp .half {
  max-width: 500px;
  margin: 0 auto; }

/* Form Styling */
.rsvp-form label {
  margin-top: 10px;
  display: block; }

.rsvp-form input,
.rsvp-form textarea {
  padding: 10px;
  border: solid 1px #d5d5d5;
  outline: 0;
  background: #fff;
  width: 92%;
  display: block;
  font-size: 1.2em; }
  .rsvp-form input:hover, .rsvp-form input:focus,
  .rsvp-form textarea:hover,
  .rsvp-form textarea:focus {
    border-color: #4dc3c7; }

.rsvp-form input[type="radio"],
.rsvp-form input[type="checkbox"] {
  width: auto;
  display: inline-block;
  margin: 10px; }

.success {
  color: #53a306;
  background-color: #d4edbd;
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid #53a306;
  text-align: center;
  margin-top: 20px; }

.error {
  color: #f00;
  background-color: #ffaaaa;
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid #f00;
  text-align: center;
  margin-top: 20px; }

button {
  width: 55%;
  padding: 9px 20px;
  background: #f15a65;
  border: 0;
  font-size: 14px;
  color: #fff;
  margin: 10px auto;
  display: block;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out; }
  button:hover {
    background-color: #ea4b55; }

@media only screen and (min-width: 768px) {
  body, html {
    font-size: 0.9em; }
  main {
    max-width: 1000px;
    margin: 0 auto; }
  .h1 {
    float: left;
    padding-left: 10px; }
  h2 {
    font-size: 3em; }
  nav {
    padding-right: 15px; }
    nav .toggle-nav {
      display: none; }
    nav #nav {
      width: auto;
      height: auto;
      background-color: transparent;
      margin-left: auto;
      transition: none;
      position: relative;
      top: 8px;
      display: inline-block;
      float: right; }
      nav #nav li {
        display: inline-block; }
  .our-story img {
    max-width: 75%; }
  .wrapper {
    display: block;
    width: 100%;
    overflow: hidden; }
    .wrapper .half {
      width: 49%;
      float: left; }
      .wrapper .half:first-of-type {
        margin-right: 2%; }
  .our-story, .wedding {
    display: flex;
    flex-flow: row wrap;
    align-items: center; }
    .our-story h2, .wedding h2 {
      flex: 1 100%; }
  .rsvp .half {
    margin: 0 auto !important;
    float: none; } }
